body {
  padding-top: 3.5rem; }

section {
  margin: 1.4 rem 0;
  padding: 2rem 0; }

.title {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1.4rem;
  font-weight: bold; }

.carousel-item img {
  width: 100%; }
